<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.js"></script>
    <title>Address and delivery</title>
</head>
<body>

<div>
    <div class="container">
        <div class="row justify-content-center">
            <form class="form-signIn">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Delivery Address</h1>
                </div>

                <div class="form-label-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" id="inputAddress" class="form-control" placeholder="Address" required autofocus>
                </div><br>

                <div class="form-label-group">
                    <label>Delivery Options</label><br>
                    <input type="radio" name="delivery" id="standard" value="standard" checked>
                    <label for="standard">Standard Post</label><br>
                    <input type="radio" name="delivery" id="express" value="express">
                    <label for="express">Express Parcel</label>
                </div><br>
                <button class="btn btn-lg btn-primary btn-block" type="button" onclick="addAddressDelivery()">Submit</button>
            </form>
        </div>
    </div>
</div>


<script>
    function addAddressDelivery() {
        var address = document.getElementById("inputAddress").value;
        var deliverOption = document.querySelector('input[type=radio][name=delivery]');
        var id = 1;
        var json = JSON.stringify({
            "id" : id,
            "address": address,
            "deliverOption": deliverOption.value,
        });

        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/order/addAddressAndDeliverOption',
            contentType: "application/json",
            data: json,
            success:function (data) {
                if(data.success)
                {
                    alert(data.message);
                    //window.location.href='/homePage';
                }
                else
                {
                    alert(data.message);
                }
            }
        });
    }
</script>

</body>
</html>
