<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.js"></script>
    <title>Address and delivery</title>
</head>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/homePage">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/BuyDiary">Buy Diary!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/register">Sign up!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</nav>
<body>


    <input type="hidden" id="address" th:value="${Address}"/>
    <div class="container">
        <div class="row justify-content-center">
            <form class="form-signIn">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Delivery Address</h1>
                </div>

                <div class="form-group">
                    <select name="address" class="custom-select" id="inputAddress">
                        <option selected>Select Your Address</option>
                    </select>
                </div>


                <div class="form-label-group">
                    <label>Delivery Options</label><br>
                    <input type="radio" name="delivery" id="standard" value="standard" checked>
                    <label for="standard">Standard Post</label><br>
                    <input type="radio" name="delivery" id="express" value="express">
                    <label for="express">Express Parcel</label>
                </div><br>
                <button class="btn btn-lg btn-primary btn-block" type="button" onclick="addAddressDelivery()">Submit</button>
            </form>
        </div>
    </div>


<script>
    var address = $.parseJSON(document.getElementById("address").value);

        for (var i = 0; i < address.length; i++) {
            var addressString = address[i].address+address[i].urban+address[i].state+address[i].postCode;
            var single ="<option value="+addressString+">"+addressString+"</option>";
            $("#inputAddress").append(single);
        }

    function addAddressDelivery() {
        var address = document.getElementById("inputAddress").value;

        var deliverOption = $("input[type='radio']:checked").val();

        var json = JSON.stringify({
            "address": address,
            "deliverOption": deliverOption,
        });

        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/order/addAddressAndDeliverOption',
            contentType: "application/json",
            data: json,
            success:function (data) {
                if(data.success)
                {
                    alert(data.message);
                    //window.location.href='/homePage';
                }
                else
                {
                    alert(data.message);
                }
            }
        });
    }
</script>

</body>
</html>
