<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.js"></script>
    <title>Edit Diary</title>
</head>
<body>

<div>
    <div class="container">
        <div class="row justify-content-center">
            <form class="form-signIn">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Test for cover</h1>
                </div>

                <div class="form-label-group">
                    <input type="text" id="inputCover" class="form-control" placeholder="cover" required autofocus>
                    <label for="inputCover">Cover</label>
                </div>

                <div class="form-label-group">
                    <input type="text" id="inputPaperColor" class="form-control" placeholder="PaperColor" required
                           autofocus>
                    <label for="inputPaperColor">PaperColor</label>
                </div>

                <div class="form-label-group">
                    <input type="text" id="inputTypeofPaper" class="form-control" placeholder="TypeofPaper" required
                           autofocus>
                    <label for="inputTypeofPaper">PaperType</label>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="button" onclick="addcover()">Add Cover</button>
                <button class="btn btn-lg btn-danger btn-block" type="button" onclick="addpapercolor()">Add Paper
                    Color
                </button>
                <button class="btn btn-lg btn-danger btn-block" type="button" onclick="addpapertype()">Add Paper Type
                </button>


                <div class="form-label-group">
                    <input type="text" id="deleteCover" class="form-control" placeholder="cover for delete" required
                           autofocus>
                    <label for="inputCover">deleteCover</label>
                </div>

                <div class="form-label-group">
                    <input type="text" id="deletePaperColor" class="form-control" placeholder="PaperColor" required
                           autofocus>
                    <label for="inputPaperColor">deletePaperColor</label>
                </div>

                <div class="form-label-group">
                    <input type="text" id="deleteTypeofPaper" class="form-control" placeholder="TypeofPaper" required
                           autofocus>
                    <label for="inputTypeofPaper">deletePaperType</label>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="button" onclick="deletecover()">delete Cover
                </button>
                <button class="btn btn-lg btn-danger btn-block" type="button" onclick="deletecolor()">delete Paper
                    Color
                </button>
                <button class="btn btn-lg btn-danger btn-block" type="button" onclick="deletetype()">delete Paper Type
                </button>

                <div>
                    <table class="table table-striped">
                        <tr>
                            <th>id</th>
                            <th>covername</th>
                        </tr>

                        <tr th:each="get:${showcover}">
                            <td th:text="${get.id}"></td>
                            <td th:text="${get.coverName}"></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    function addcover() {
        var inputCover = document.getElementById("inputCover").value;

        var id = 1;
        var json = JSON.stringify({
            "id": id,
            "coverName": inputCover,
        });
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/cover/addCover',
            contentType: "application/json",
            data: json,
            success: function (data) {
                if (data.success) {
                    alert(data.message);

                } else {
                    alert(data.message);
                }
            }
        });


    }

    function addpapercolor() {
        var color = document.getElementById("inputPaperColor").value;

        var id = 1;
        var json = JSON.stringify({
            "id": id,
            "color": color,
        });
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/cover/addPaperColorName',
            contentType: "application/json",
            data: json,
            success: function (data) {
                if (data.success) {
                    alert(data.message);

                } else {
                    alert(data.message);
                }
            }
        });
    }

    function addpapertype() {
        var inputTypeofPaper = document.getElementById("inputTypeofPaper").value;

        var id = 1;
        var json = JSON.stringify({
            "id": id,
            "typeOfPaper": inputTypeofPaper,
        });
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/cover/addTypeOfPaper',
            contentType: "application/json",
            data: json,
            success: function (data) {
                if (data.success) {
                    alert(data.message);

                } else {
                    alert(data.message);
                }
            }
        });
    }


    function deletecover() {
        var id = document.getElementById("deleteCover").value;
        // var json = JSON.stringify({
        //     id,
        // });
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/cover/deleteCoverName',
            contentType: "application/json",
            data: id,
            success: function (data) {
                if (data.success) {
                    alert(data.message);

                } else {
                    alert(data.message);
                }
            }
        });
    }

    function deletecolor() {
        var id = document.getElementById("deletePaperColor").value;
        // var json = JSON.stringify({
        //     id,
        // });
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/cover/deletePaperColorName',
            contentType: "application/json",
            data: id,
            success: function (data) {
                if (data.success) {
                    alert(data.message);

                } else {
                    alert(data.message);
                }
            }
        });
    }

    function deletetype() {
        var id = document.getElementById("deleteTypeofPaper").value;
        // var json = JSON.stringify({
        //     id,
        // });
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/cover/deleteTypeofPaper',
            contentType: "application/json",
            data: id,
            success: function (data) {
                if (data.success) {
                    alert(data.message);

                } else {
                    alert(data.message);
                }
            }
        });
    }

</script>

</body>
</html>
