<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.js"></script>
    <title>Order History</title>
</head>
<body>
<div class="container">
    <div id="navbar-common"></div>
</div>
<script>
    $("#navbar-common").load("/common/Navbar.html");
</script>
<input type="hidden" id="order" th:value="${Order}"/>

<div class="container">
    <div class="row">
        <div class="col-md-12" id="orderList"></div>
    </div>
</div>

    <script>
        var order=$.parseJSON(document.getElementById("order").value);
        var sum = "";
        for(var i=0;i<order.length;i++){
            var single ="   <div class=\"row\">\n" +
                "                <div class=\"col-md-3\">Order Number:"+order[i].id+"</div>\n" +
                "                <div class=\"col-md-3\">User Id:"+order[i].userId+"</div>\n" +
                "                <div class=\"col-md-3\">Order Time:"+order[i].time+"</div>\n" +
                "                <div class=\"col-md-3\">Deliver Option:"+order[i].deliverOption+"</div>\n" +
                "            </div>\n" +
                "            <div class=\"row\">\n" +
                "                <div class=\"col-md-9\">Address:"+order[i].address+"</div>\n" +
                "                <div class=\"col-md-3\">State:"+order[i].state+"</div>\n" +
                "            </div><br>";
            sum=sum+single;
        }
        document.getElementById("orderList").innerHTML=sum;
    </script>
    </body>
</html>