<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.js"></script>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    HomePage
    <br>
    <a href="/user/viewDiary">去购物</a>
    <br>
    <a href="/order/shoppingCart">查看购物车</a>
    <br>
    <button class="btn btn-lg" type="button" onclick="logout()">Log Out</button>

    <script>
        function logout() {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/user/logout',
                contentType: "application/json",
                success:function (data) {
                    if(data.success)
                    {
                        alert(data.message);
                        window.location.href='/login';
                    }
                }
            });
        }
    </script>
</body>
</html>