<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.js"></script>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<div class="container">
    <div id="navbar-common"></div>
</div>
<script>
    $("#navbar-common").load("/common/Navbar.html");
</script>
<div class="container">
    <div class="card">
        <h5 class="card-header">Go Shopping!</h5>
        <div class="card-body">
            <p class="card-text">Click here to pick our latest, best and highest quality custom diary!</p>
            <a href="/user/viewDiary" class="btn btn-primary">Go Shopping!</a>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Shopping Cart</h5>
        <div class="card-body">

            <p class="card-text">Browse your shopping cart, you can delete the contents of the shop
                ping cart, you can also check out.</p>
            <a href="/order/shoppingCart" class="btn btn-primary">Shopping Cart</a>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Add address</h5>
        <div class="card-body">
            <p class="card-text">Add your address to complete your order!</p>
            <a href="/user/addAddress" class="btn btn-primary">Add Address</a>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Manage Address</h5>
        <div class="card-body">
            <p class="card-text">Check your address book, you can delete some addresses that
                are no longer in use.</p>
            <a href="/user/viewAddress" class="btn btn-primary">Manage Address</a>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Order History</h5>
        <div class="card-body">
            <p class="card-text">Click here to view your historical orders and order status.</p>
            <a href="/user/history" class="btn btn-primary">Order History</a>
        </div>
    </div>
    <button class="btn btn-lg" type="button" onclick="logout()">Log Out</button>
</div>

    <script>
        function logout() {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/user/logout',
                contentType: "application/json",
                success:function (data) {
                    if(data.success)
                    {
                        alert(data.message);
                        window.location.href='/login';
                    }
                }
            });
        }
    </script>
</body>
</html>