<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.js"></script>
    <title>Edit Diary</title>
</head>

<body>
<div class="container">
    <div id="navbar-common"></div>
</div>
<script>
    $("#navbar-common").load("/common/Navbar.html");
</script>
<div>
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Manage Diary Options</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-label-group">
                    <label for="inputCover">Cover</label>
                    <input type="text" id="inputCover" class="form-control" placeholder="cover" required autofocus>
                </div>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="button" onclick="addCover()">Add Cover</button>
            </div>
            <div class="col-md-4">
                <div class="form-label-group">
                    <label for="inputPaperColor">PaperColor</label>
                    <input type="text" id="inputPaperColor" class="form-control" placeholder="PaperColor" required autofocus>
                </div>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="button" onclick="addPaperColor()">Add Paper Color</button>
            </div>
            <div class="col-md-4">
                <div class="form-label-group">
                    <label for="inputTypeofPaper">PaperType</label>
                    <input type="text" id="inputTypeofPaper" class="form-control" placeholder="TypeofPaper" required autofocus>
                </div>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="button" onclick="addPaperType()">Add Paper Type</button>
            </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        </div>
        <div class="row">
            <h5 class="col-md-4">Cover List</h5>
            <h5 class="col-md-4">Paper Color List</h5>
            <h5 class="col-md-4">Paper Type List</h5>
            <div class="col-md-4" id="coverList"></div>
            <div class="col-md-4" id="paperColorList"></div>
            <div class="col-md-4" id="paperTypeList"></div>
        </div>
    </div>
</div>
<input type="hidden" id="paperColor" th:value="${Color}"/>
<input type="hidden" id="paperType" th:value="${TypeOfPaper}"/>
<input type="hidden" id="cover" th:value="${Cover}"/>
<script>
    var paperColor = $.parseJSON(document.getElementById("paperColor").value);
    console.log(paperColor);
    for(var i=0;i<paperColor.length;i++){
        var single =
            "    <div class=\"row\">\n" +
            "        <div class=\"col-md-8\">"+paperColor[i].color+"</div>\n" +
            "        <div class=\"col-md-4\">" +
            "        <button class=\"btn-sm btn-danger\" onclick=\"deletePaperColor("+i+")\">delete</button></div> \n" +
            "    </div>" +
            "    <br>";
        $("#paperColorList").append(single);
    }
    var paperType = $.parseJSON(document.getElementById("paperType").value);
    console.log(paperType);
    for(var i=0;i<paperType.length;i++){
        var single =
            "    <div class=\"row\">\n" +
            "        <div class=\"col-md-8\">"+paperType[i].typeOfPaper+"</div>\n" +
            "        <div class=\"col-md-4\">" +
            "        <button class=\"btn-sm btn-danger\" onclick=\"deletePaperType("+i+")\">delete</button></div> \n" +
            "    </div>" +
            "    <br>";
        $("#paperTypeList").append(single);
    }
    var cover = $.parseJSON(document.getElementById("cover").value);
    console.log(cover);
    for(var i=0;i<cover.length;i++){
        var single =
            "    <div class=\"row\">\n" +
            "        <div class=\"col-md-8\">"+cover[i].coverName+"</div>\n" +
            "        <div class=\"col-md-4\">" +
            "        <button class=\"btn-sm btn-danger\" onclick=\"deleteCover("+i+")\">delete</button></div> \n" +
            "    </div>" +
            "    <br>";
        $("#coverList").append(single);
    }


    function addCover() {
        var inputCover = document.getElementById("inputCover").value;
        var id = new Date().getTime().toString();
        var json = JSON.stringify({
            "id": id,
            "coverName": inputCover,
        });
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/admin/addCover',
            contentType: "application/json",
            data: json,
            success: function (data) {
                if (data.success) {
                    alert(data.message);
                    window.location.reload();
                } else {
                    alert(data.message);
                }
            }
        });
    }

    function addPaperColor() {
        var color = document.getElementById("inputPaperColor").value;
        var id = new Date().getTime().toString();
        var json = JSON.stringify({
            "id": id,
            "color": color,
        });
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/admin/addPaperColorName',
            contentType: "application/json",
            data: json,
            success: function (data) {
                if (data.success) {
                    alert(data.message);
                    window.location.reload();
                } else {
                    alert(data.message);
                }
            }
        });
    }

    function addPaperType() {
        var inputTypeofPaper = document.getElementById("inputTypeofPaper").value;
        var id = new Date().getTime().toString();
        var json = JSON.stringify({
            "id": id,
            "typeOfPaper": inputTypeofPaper,
        });
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/admin/addTypeOfPaper',
            contentType: "application/json",
            data: json,
            success: function (data) {
                if (data.success) {
                    alert(data.message);
                    window.location.reload();
                } else {
                    alert(data.message);
                }
            }
        });
    }

    function deleteCover(x) {
        var id = cover[x].id;
        var url = "/admin/deleteCover?id="+id;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: url,
            contentType: "application/json",
            data: "",
            success: function (data) {
                if (data.success) {
                    alert(data.message);
                    window.location.reload();
                } else {
                    alert(data.message);
                }
            }
        });
    }
    function deletePaperType(x) {
        var id = paperType[x].id;
        var url = "/admin/deletePaperType?id="+id;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: url,
            contentType: "application/json",
            data: "",
            success: function (data) {
                if (data.success) {
                    alert(data.message);
                    window.location.reload();
                } else {
                    alert(data.message);
                }
            }
        });
    }
    function deletePaperColor(x) {
        var id = paperColor[x].id;
        var url = "/admin/deletePaperColor?id="+id;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: url,
            contentType: "application/json",
            data: "",
            success: function (data) {
                if (data.success) {
                    alert(data.message);
                    window.location.reload();
                } else {
                    alert(data.message);
                }
            }
        });
    }




</script>

</body>
</html>
