<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.js"></script>
    <title>Manage Account</title>
</head>
<body>
<div class="container">
    <div id="navbar-common"></div>
</div>
<script>
    $("#navbar-common").load("/common/Navbar.html");
</script>

    <input type="hidden" id="admin" th:value="${Admin}"/>
    <input type="hidden" id="user" th:value="${User}"/>

    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Manage Accounts</h1>
        </div>
        <div class="row">
            <h4 class="col-md-6">Admin List</h4>
            <h4 class="col-md-6">User List</h4>

            <div class="col-md-6" id="adminList">
            </div>

            <div class="col-md-6" id="userList">
            </div>
        </div>
    </div>
    <script>
        var admin=$.parseJSON(document.getElementById("admin").value);
        var user=$.parseJSON(document.getElementById("user").value);
        console.log(admin);
        console.log(user);
        var adminSum = "";
        for(var i=0;i<admin.length;i++){
            var single =
                "   <div class=\"d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom\">\n" +
                "        <div class=\"col-md-9\">"+admin[i].username+"</div>\n" +
                "        <div class=\"col-md-3\">\n" +
                "        <button type='button' class=\"btn-sm btn-danger\" onclick=\"removeAdmin(" + i + ")\">Delete</button>"+
                "        </div>\n" +
                "    </div>" +
                "    <br>";
            adminSum = adminSum + single;
        }
        document.getElementById("adminList").innerHTML=adminSum;
        var userSum = "";
        for(var i=0;i<user.length;i++){
            var single =
                "   <div class=\"d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom\">\n" +
                "        <div class=\"col-md-9\">"+user[i].username+"</div>\n" +
                "        <div class=\"col-md-3\">\n" +
                "        <button type='button' class=\"btn-sm btn-danger\" onclick=\"removeUser(" + i + ")\">Delete</button>"+
                "        </div>\n" +
                "    </div>"+
                "    <br>";
            userSum = userSum + single;
        }
        document.getElementById("userList").innerHTML=userSum;

        function removeUser(i) {
            var id = user[i].id;
            var url = '/admin/deleteUser?id=' + id;
            console.log(url);
            $.ajax({
                type: "POST",
                dataType: "json",
                url: url,
                contentType: "application/json",
                data: "",
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                        window.location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            });
        }

        function removeAdmin(i) {
            var id = admin[i].id;
            var url = '/admin/deleteAdmin?id=' + id;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: url,
                contentType: "application/json",
                data: "",
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                        window.location.reload();
                    } else {
                        alert(data.message);
                    }
                }
            });
        }
    </script>

</body>
</html>