<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.js"></script>
    <title>Shopping Cart</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">All products：</div>
    </div>
    <div class="row">
        <div class="col-md-2">Code</div>
        <div class="col-md-7">Product:<br>
            <div class="row">
                <div class="col-md-3">Cover Type</div>
                <div class="col-md-3">Paper Type</div>
                <div class="col-md-3">Paper Color</div>
                <div class="col-md-3">Customizable Text</div>
            </div>
        </div>
        <div class="col-md-3">Option</div>
    </div>

    <div class=row id="listMain"></div>
    <input type="hidden" id="products" th:value="${Products}"/>


        <script>
            var products = $.parseJSON(document.getElementById("products").value);
            console.log(products);
            if (products.length == 0) {
                $("#listMain").append("<p>Your shopping cart is empty! Go buy some!</p>");
            } else {
                for (var i = 0; i < products.length; i++) {
                    var single = "<div class=\"col-md-2\">"+(i+1)+ "</div>\n" +
                        "        <div class=\"col-md-7\">\n" +
                        "        <div class=\"row\"> " +
                        "            <div class=\"col-md-3\">\n" +
                        "            <div class=\"col-md-3\" id=\"coverType\">" + products[i].cover + "</div>\n" +
                        "            </div>\n" +
                        "            <div class=\"col-md-3\">\n" +
                        "            <div class=\"col-md-3\" id=\"paperType\">" + products[i].typeOfPaper + "</div>\n" +
                        "            </div>\n" +
                        "            <div class=\"col-md-3\">\n" +
                        "            <div class=\"col-md-3\" id=\"paperColor\">" + products[i].paperColor + "</div>\n" +
                        "            </div>\n" +
                        "            <div class=\"col-md-3\">\n" +
                        "            <div class=\"col-md-3\" id=\"customizableText\">" + products[i].customizableText + "</div>\n" +
                        "            </div>" +
                        "        </div>\n" +
                        "        </div>\n" +
                        "        <div class=\"col-md-3\"><button class=\"btn-sm\" onclick=\"remove("+i+")\">Remove</button></div>";
                    $("#listMain").append(single);
                }
            }

            function remove(i) {
                var id = products[i].id;
                var url = '/order/removeDiary?id='+id;
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: url,
                    contentType: "application/json",
                    data: "",
                    success:function (data) {
                        if(data.success)
                        {
                            alert(data.message);
                            window.location.reload();
                        }
                        else
                        {
                            alert(data.message);
                        }
                    }
                });

            }
        </script>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">去结算</div>
    </div>
</div>
</body>
</html>